{% extends 'base.html' %}

{% block context %}
<div class="mb-5 container">
    <div class="row row-cols-2 row-cols-md-7 g-4">
        <div class="col">
            <div class="card h-100">
                {% if car.image %}
                <img src="{{ car.image.url }}" class="card-img-top" alt="...">
                {% else %}
                <img src="https://www.pallenz.co.nz/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png"
                     class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ car.model }}</h5>
                    <p class="card-text">Yil: {{ car.year }}</p>
                    <p class="card-text">Tezlik turi:: {{ car.transmission }}</p>
                    <p class="card-text">Yoqilg'i turi: {{ car.fuel_type }}</p>
                    <p class="card-text">Narxi: {{ car.price }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock context %}